<html>
  <head>
    <title>Gossip</title>
  </head>
  <body>
    <h2>Voici le potin :</h2>
    <p> Son auteur : <%= gossip.author %></p>
    <p>Le contenu : <%= gossip.content %></p><br>
    <a href="/">Revenir à l'index</a>
  </body>
</html>